.forecast-data {
  padding: 5px;
}
.forecast-data .forecast-min {
  color: var(--highlight-color);
  opacity: 0.5;
  margin-left: 5px;
}
.forecast-data .forecast-max {
  color: var(--highlight-color);
  font-weight: bold;
}
