.Weather-info h1 {
  margin: 10px 0px 20px;

  font-size: 30px;
  font-weight: 600;
}
.Weather-info ul {
  margin: 0;
  padding: 0;
}
.Weather-info li {
  list-style-type: none;
}

.Weather-info .weather-description {
  font-size: 15px;
}
