.Weather-info {
  color: var(--secondary-color);
}
.Weather-info h1 {
  margin: 10px 0px 20px;
  font-size: 30px;
  font-weight: 600;
}
.Weather-info ul {
  margin: 0;
  padding: 0;
}
.Weather-info li {
  list-style-type: none;
}

.Weather-info .weather-description {
  font-size: 15px;
}
.Weather-info .last-update {
  font-family: "Space Mono", monospace;
  font-size: 10px;
  display: flex;
  top: -10px;
  opacity: 0.5;
}
.Weather-info .temperature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  padding: 0px;
}
